/* Estilos del encabezado */

.header {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 100px;
}
.header 
.navbar {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header 
.navbar
div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 170px;
}
.header 
.navbar
.logo-platzi {
    display: block;
    transform: rotate(-90deg);
}
.header 
.navbar
.user {
    position: absolute;
    top: 100px;
    font-size: var(--subtitle-mobile);
    transform: rotate(-90deg);
}
/* Estilos del cuerpo principal */

.main {
    position: absolute;
    right: 0;
    padding-bottom: 100px;
    width: calc(100% - 100px);
}
.main 
.home-btn {
    display: block;
}
.main
.information-container {
    width: calc(100vw - 600px);
}
.main
section
p {
    margin: 10px 0;
    font-size: var(--subtitle-mobile);
}
.main
section
ul {
    margin-bottom: 35px;
    font-size: var(--font-size-desktop);
    list-style: none;
}
.main
.main-section {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    grid-template-columns: 33% 33% 33%;
}
.main
header
h3 {
    font-size: var(--subtitle-desktop);
}
.main
header
h1 {
    font-size: var(--title-desktop);
}
.main
.taller-card {
    padding: 10px 30px;
}
.main
.taller-card
img {
    width: 75px;
    height: 75px;
}
.main
.taller-card
.img-first {
    margin-top: 40px;
}
.main
.taller-card
h2 {
    font-size: var(--subtitle-desktop);
}
.main
.taller-card
form
label {
    font-size: var(--font-size-desktop);
}
.main
.taller-card
form
input {
    font-size: var(--font-size-desktop);
}
.main
.taller-card
form
.error {
    font-size: var(--font-size-desktop);
}
.main
.nav-works {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100vw - 115px);
}
.main
.nav-works
.card__item {
    width: 100%;
    height: 125px;
    border-right: 5px solid var(--secondary-color);
}

/* Estilos del pié de página */

.footer {
    position: absolute;
    top: 1079px;
    height: 125px;
}
.footer
img {
    margin: 0 5px;
    width: 50px;
    height: 50px;
}